.section6 {
  width: 100%;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
}

.section6 .title {
  align-self: center;
  margin: 0;
  color: white;
  font-size: 40px;
  margin-top: 50px;
  overflow: hidden;
}
.screenContainermob {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  pointer-events: all;
}
.screenContainermob::-webkit-scrollbar {
  display: none;
}
.screenContainermob img {
  max-width: 100%;
  pointer-events: all;
}

.section6 .med {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section6 .medText {
  height: 70%;
}
.section6 .med .detail {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.section6 .med .detail .titleProject {
  font-size: 50px;
}

@media screen and (max-width: 1000px) {
  .section6 .med {
    flex-direction: column;
    align-items: center;
  }
  .section6 .medText {
    padding: 10px;
  }
  .section6 .med .detail .stack {
    margin: 15px 0;
  }
}
