body {
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
* {
  font-family: whitrabt;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: whitrabt;
  src: local('whitrabt'), url(./assets/fonts/WHITRABT.TTF) format('truetype');
}